<div class="container">
  <div class="container-qr">
    <ngx-qrcode
      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="value"
      [width]="250"
      cssClass="bshadow"></ngx-qrcode>
    <div class="container-inputs">
      <input #myInput type="text" placeholder="Collez votre lien ici">
      <button (click)="CreateQrcode(myInput.value)">Créer votre QRCode</button>
    </div>
    <div class="container-etapes">
      <p>Etape 1 : Ecrivez ou copiez un text ou un lien</p>
      <p>Etape 2 : Coller le texte ou le lien copier </p>
      <p>Etape 3 : Appuyer sur le bouton Creer votre QRcode</p>
      <p>Etape 4 : Laisser votre doight appuyé sur le QRcode copier le et partager  </p>
    </div>
  </div>
  <div class="share">
    <button (click)="share()"> Partager App</button>
  </div>
  <footer>
    <p class="right">©2022 All right reserved CyraTech.</p>
  </footer>
</div>
